# Archivos de compilación
*.class

# Carpeta de salida de IntelliJ
/out/

# Archivos de IntelliJ IDEA
.idea/
*z

# Archivos temporales del sistema
*.log
.DS_Store
Thumbs.db

# Archivos de configuración de VS Code (opcional)
.vscode/
